@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{background-color: black; font-family: 'Poppins', sans-serif;} 
.frontPage{
    display: flex;
    flex-direction: column;
    color: blanchedalmond;
}
.upperPart{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: blanchedalmond;
    
}


.middlePart{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
     text-align: left;
     font-family: 'Oswald', sans-serif;
     
}
.name{
    color: blanchedalmond;
}
.bio{
color: blanchedalmond;  
}
.aboutMe{
    color: blanchedalmond;
}
.pic{
    width: 300px;
    align-self: center;
}
img{
  width: 100%;
  height: auto;
}